/*Header*/
body {
    margin: 0;
    color: #232323;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    height: inherit;
}

header {
    height: 80px;
    position: absolute;
    top: 0;
    width: 100%;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li:not(:last-child) {
    margin-right: 24px;
}

nav a {
    font-size: 18px;
    font-weight: 600;
    color: #232323;
}

.main-banner {
    background: url("/Week5/Me/assets/images/Main\ baner.jpg") center no-repeat;
    height: 480px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-banner h1 {
    font-size: 48px;
    font-weight: bold;
    max-width: 730px;
    text-align: center;
    margin: 0;
}

/*Первый блок*/
.Section1 .container {
    width: 920px;
    height: 322px;
    margin-top: 100px;
    margin-bottom: 130px;
    display: grid;
    grid-template-columns: 440px 60px 420px;
    grid-template-rows: 58px 264px;
}

/*Заголовок Section1*/
.Section1 h2 {
    max-width: 102px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #5C6E62;
    margin: 0;

}

.section1content {
    display: flex;
    justify-content: space-between;
}

/*Текст*/
.Section1 .text-block {
    height: 250px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #232323;
    width: 440px;
    margin-top: 58px;
    margin-bottom: 14px;
}

/*Картинка*/
.Section1 .image-block {
    width: 420px;
    height: 264px;
    margin-top: 58px;
    grid-column: 1/3;
}

/*второй блок*/
.Section2 {
    background: url("/Week5/Me/assets/images/Rectangle\ 6.jpg") center no-repeat;
    background-size: cover;
    padding-top: 76px;
    padding-bottom: 106px;
}

.Section2 .container {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
}

.Section2 h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #E7A646;
    margin: 0;
}

.Section2 .text-block {
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}

.boldtext {
    font-weight: bold;
}

/*Третий блок*/
.Section3 .container {
    width: 920px;
    margin-top: 90px;
    margin-bottom: 140px;
}

.Section3 h2 {
    max-width: 102px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #5C6E62;
    margin: 0;
}

.Section3 .image-block {
    width: 420px;
    height: 264px;
    float: left;
}

.Section3 .text-block1 {
    height: 250px;
    width: 440px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #232323;
    margin-top: 58px;
    margin-bottom: 56px;
    margin-left: 480px;
}

.Section3 .text-block2 {
    width: 920px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #232323;
    margin-top: 56px;
}

.Section3 .text-block3 {
    height: 75px;
    width: 450px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #838383;
    margin-top: 56px;
    margin-left: 466px;
    margin-right: 4px;
    text-align: right;
}

.colortext1,
.colortext2,
.colortext3 {
    color: #E7A646;
}

footer {
    height: 380px;
    background-color: #4D4C4A;
}

footer .container {
    display: flex;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
}

form {
    width: 240px;
    height: 248px;
    margin-bottom: 0;
}

footer .container .text {
    text-align: center;
    margin-top: 66px;
    margin-bottom: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

footer .container .name {
    width: 240px;
    height: 54px;
    margin-bottom: 20px;
}

footer .container .name p1 {
    margin-top: 18px;
    width: 29px;
}

footer .container .phone {
    width: 240px;
    height: 54px;
    margin-bottom: 30px;
}

footer .container p2 {
    width: 57px;
}

footer .container p1,
p2,
p3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
    width: 240px;
    height: 32px;
}

footer input {
    width: 240px;
    height: 30px;
    background-color: #4D4C4A;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

footer .container p4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #232323;
    width: 91px;
}

footer button {
    width: 240px;
    height: 40px;
    background: #E7A646;
    border-radius: 3px;
}